# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Qmake user files
*.pro.user

# Autosave
*.autosave

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compiled translation files
*.qm